html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.hero {
    text-decoration: none;
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
    outline: none;
    border: none;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px; 
    justify-content: space-around;
    font-size: 30px;
}

li{
    /* width: 200px; */
    text-decoration: none;

}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
    text-decoration: none;

}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #ef744b;
    text-decoration:none;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height: 80px;
    margin: 30px;
}

.social{
    margin: 20px;
}

.sub-section {
    display: inline-flex;
    justify-content: space-around;
    padding: 80px;
    flex-wrap: wrap;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 700px;
}

.headshot-container { 
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 550px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

.flex-direction{
    flex-direction:row;
}

.project-image{
    margin-top: 25px;
    width: 250px;
    border-radius: 0px; /*circle to box for project images */
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 40px;   
        margin: 20px;
        align-self: flex-end;   
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo{
        display: none;
    }
    whatido{
        display: flex;
        flex-wrap: wrap;
    }
    .headshot-container{
        display: flex;
        flex-wrap: wrap;
    }
    .information{
        display: flex;
        flex-wrap: wrap;
    }
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .headshot-container { 
        display: flex;
        align-items: center;
    }
    .whatido {
        display: flex;
    }
    .bttbutton {
        margin: 30px;
    }
    
    .arrow-btn{
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 9;
    }

    .arrow-btn a{
        height: 49px;
        width: 43px;
        text-align: center;
        background: coral;
        display: block;
        border-radius: 3px;
        cursor: pointer; 
    }
    .arrow-btn a span{
        color:#f2f2f2;
        line-height: 49px;
        font-size: 35px;
    }
    .h4 {
        font-size: 35px;
    }
}

container {
    width: 100%;
	text-align: center;
	margin: 35px 0 20px 0;
}
/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 100%
}
/* Add styles to the submit button */
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

h4 {
    text-decoration: underline;
    text-decoration-color: aquamarine;
    font-size: 35px;            

}

whatido {
    text-decoration: underline;
    text-decoration-color: aquamarine;            

}

.content{
	display: flex;
	height:30px;
}

.information img {
    margin-right: 10px;
    display: block;
}

h5 {
    font-size: 30px;   
}
bttbutton {
    display: inline-block;
    background-color: coral;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
bttbutton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
bttbutton:hover {
    cursor: pointer;
    background-color: #989898;
  }
bttbutton:active {
    background-color: #555;
  }
bttbutton.show {
    opacity: 1;
    visibility: visible;
  }

.arrow-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrow-btn a{
    height: 49px;
    width: 47px;
    text-align: center;
    background: coral;
    display: block;
    border-radius: 3px;
    cursor: pointer; 
}
.arrow-btn a span{
    color:#f2f2f2;
    line-height: 49px;
    font-size: 35px;
}

